<!--
<nav class="navbar navbar-default navbar-fixed-top" style='background-color: #000000;'>
	<div class="container">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="tmot-navbar-collapse">
		 
			<ul class="nav navbar-nav hidden-sm">
				<li class="active"><a href="/" target=""> Menu </a></li>
				<li class=""><a href="/news" target=""> Gallery </a></li>
				<li class=""><a href="/tour" target=""> Contact US </a></li>
			</ul>
		 
			<ul class="nav navbar-nav navbar-right hidden-sm">
				<li class="hidden"><a href="#tmot-page-top"></a></li>
				<li class="active"><a href="/" target=""> Menu </a></li>
				<li class=""><a href="/news" target=""> Gallery </a></li>
				<li class=""><a href="/tour" target=""> Contact US </a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<!--<a class="navbar-toggle" data-toggle="collapse" data-target="#tmot-navbar-collapse">-->
			<a class="navbar-toggle visible-xs visible-sm" data-toggle="modal"
				data-target="#pop-menu"> <img
				src="http://media.mcgrawfan.com/images/hamburger.png" alt="">
			</a> <a class="navbar-brand" href="/#tmot-page-top"> <img
				src="/img/logo.png" class="img-reponsive" alt="">
			</a>
		</div>
	</div>
	<!-- /.container -->
</nav>

-->	
<!-- Header -->
<!-- End of: Header -->


