html{
	margin:0;
	padding:0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:16px;
	
}
body{
	width:100%;
	font-family: 'Open Sans', Arial, sans-serif;
}
.clear{
	clear:both;
}

.main {
	background:$navmenu;
	color:#cccccc;
	ul{
		margin:0;
		padding:0;
		li{
			list-style-type:none;
			display:inline-block;
			min-width:145px;
			padding:15px;
			border-right:1px solid #ffffff;
			font-size:12px;
			text-align:center;
			text-transform: upperCase;
			&:hover{
				background:#080808;
				color:#ffffff;
			}
		}
	}
	.selected{
		background:#080808;
		color:#ffffff;
	}
	
	
	
}
.navigation{
	float:right;
}
.navbar-brand{
	img{
		margin-top:-15px;
	}
}
.midBanner{
	background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%);
	background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 );
	box-shadow: 0px 10px 5px #888888;
	.row{
		text-align: center;
    	padding: 40px 0;
    	font-size: 28px;
	}
	.welcome{
		font-weight: 700;
    	letter-spacing: 8px;
    	color: #8E0707;
	}
	.cusine{
    	letter-spacing: 8px;
	}
}
.detailSection{
	
	.title{
		padding: 20px 0 5px 0;
    	font-size: 18px;
    	font-weight: 700;
    	color: #8E0707;
    	margin-bottom:15px;
    	letter-spacing:2px;
	}
	.subTitle{
		padding: 0 0 10px 0;
    	font-size: 16px;
    }

    .header{
		font-size: 17px;
	    font-weight: 700;
	    margin-bottom: 10px;
	}
	.address{
		margin-bottom: 20px;
	    line-height: 22px;
	    font-size: 14px;
	}
	.comment{
		width: 78%;
	    margin-bottom: 21px;
	    line-height: 22px;
	}
	.form-control{
		width:73%;
	}
	button{
		background-color: #67C4E6;
	    color: white;
	    width: 130px;
	}
	.details{
		margin-top: 12px;
    	font-size: 13px;
    	line-height: 20px;
	}
	
}
.footer{
	background: #222222;
    color: #cccccc;
    margin-top:35px;
  
    .title{
    	padding: 20px 0 5px 0;
	    font-size: 18px;
	    font-weight: 700;
    }
    .details{
    	padding:20px 0;
    }
}





#map{
    width: 500px;
    height: 400px;
}

.cmi-foodbox-container{
    height: 166px;
    margin: 65px 0;

}
.cmi-foodlist-container{
	height: 6em;
}

.cmi-container{
	text-align: center;
	margin-top:20px;
	p{
		line-height:22px;
		font-size:13px;
		font-weight:300;
	}
	
}
h4{
	font-weight:700;
}
cmi-message{
	line-height:22px;
	font-size:13px;
	font-weight:300;
}